<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<!-- Here's how we do JavaScript inside .ejs file. 
      Access the data you passed into the locals object. If property doesn't 
      exist, you can have a conditional for a default value.   -->
		Hello <%= locals.text || "Default"%>
	</body>
</html>
