<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<!-- 
      + Using forms with servers:
      1. So this form is an 'add' users form so it is a POST request.
      2. Remember that 'action' tells the form, where to send
      the POST request to, so here we just send it to the "/users" endpoint.
      This is covered as that's just the index route of the userRouter and we 
      already have a POST request route handler for it. 
      3. Keep in mind the 'name' attribute of the form control element, as 
        that is sent into the body of the request as json like this:
        Body of request = {
          firstName: some_name_value
        }

      4. We'll use this information to our advantage, to access the values 
        of the form in our POST request route handler. HOWEVER, by default
        you can't access the body of a http request in Express, so we 
        just need to add some already created middleware for that.

      5. Now we can do request.body.firstName to access the input value.


      - NOTE: We do locals.firstName as it gives us the simple functionality
        of having a test or placeholder name there. It's not important, but 
        just here to reinforce the idea of using templates.

     -->
		<form action="/users" method="POST">
			<label
				>First name
				<input
					type="text"
					name="firstName"
					value="<%= locals.firstName %>"
					required />
			</label>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
