<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<form action="/upload" method="post" enctype="multipart/form-data">
			<input type="file" name="file" id="" accept="image/*" required />
			<button type="submit">Submit</button>
		</form>

    <!-- Render our image files -->
    <% if (files) { %>
      <% files.forEach(function (file) { %>
        <p><%= file.filename %></p>
        <img src="image/<%= file.filename %>" style="width: 200px;" />
      <% }) %>
    <% } %>
	</body>
</html>
